.card_div{
    height: 290px;
    width: 290px;
    border-radius: 3px;
    border: 1px solid rgba(105, 110, 110, 0.383);
    margin-left: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_image > img{
    height: 160px;
    width: 120px;
}

.card_description{
    border: 1px solid green;
}