.middle_footer{
    margin-top: -4px;
    background-color: rgb(235, 238, 239);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    

}

.footer_col_1{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: rgb(1, 39, 43);
    min-width: 250px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    /* border: 1px solid red; */

}

.footer_col_2{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: rgb(1, 39, 43);
    min-width: 250px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    /* border: 1px solid red; */
}

.footer_col_3{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: rgb(1, 39, 43);
    min-width: 250px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    /* border: 1px solid red; */
}

.footer_col_4{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: rgb(1, 39, 43);
    min-width: 250px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    /* border: 1px solid red; */
}

.footer_col_5{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: rgb(1, 39, 43);
    min-width: 250px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    /* border: 1px solid red; */
}

.footer_heading{
    color: rgb(1, 39, 43);
    font-size: 15px;
    font-weight: 650;
    margin-top: 5px ;
    margin-bottom: 8px ;
}

.bottom_footer{
    background-color: rgb(0, 47, 52);
    height: 50px;
}

