.header{
    height: 70px;
    background-color: rgb(247, 248, 250);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid rgb(226, 226, 231);
    position: fixed;
    width: 100%;
    z-index: 1;
    
}

.olx_logo{
    height: 27px;
    width: 38px;
    margin-left: 20px;
    margin-right: 20px;
}


/* Search Bar 1 */
.searchBar1{
    width: 20%;
    min-width: 300px;
    margin-right:20px;
    display: flex;
    flex-direction: row;
    background-color: coralsilk ;
    border: 2px solid rgb(46, 46, 49);
    border-radius: 4px;
}

.searchBar1_Input{
    height: 45px;
    width: 100%;
    color: rgb(46, 46, 49);
    padding-left: 20px;
    font-size: 17px;
    background-color: rgb(247, 248, 250);
    border: none;
    outline: none;
}

.down_arrow1{
    /* background-color: rgb(1, 1, 1); */
    color: rgb(1, 39, 43);
    font-size: 35px !important;
    margin-top: 5px;
}


.searchBar1_icon{
    /* background-color: coral; */
    font-size: 33px !important;
    color: rgb(63, 63, 70);
    margin: 6px 0px 0px 8px;
}


/* Search Bar 2 */
.searchBar2{
    width: 54%;
    display: flex;
    flex-direction: row;
    background-color: coralsilk ;
    border: 2px solid rgb(46, 46, 49);
    border-radius: 4px;
}

.searchBar2_Input{
    height: 45px;
    width: 100%;
    color: rgb(46, 46, 49);
    padding-left: 20px;
    font-size: 17px;
    background-color: rgb(247, 248, 250);
    border: none;
    outline: none;
}

.searchButtonBox{
    width:50px;
    background-color: rgb(1, 39, 43);
    display: flex;
    justify-content: center;
    align-items: center;

}

.searchBar2_icon{
    /* background-color: coral; */
    font-size: 33px !important;
    color: rgb(234, 234, 240);
    margin-left: 5px;
}


/* Login Button 2 */

.login_Div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    /* background-color: lightgreen; */
    
}
.login_Button{
    color: rgb(1, 39, 43);
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid rgb(1, 39, 43);
    margin-right: 15px;
    margin-left: 25px;
}


/* Sell Button  */

.sell_Div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-right: 52px;
    margin-left: 8px;
    min-width: 100px;
    /* background-color: lightgreen; */
    
}
    

.sell_Button{
    color: rgb(1, 39, 43);
    font-size: 19px;
    font-weight: 600;
    padding: 3px 15px 5px 15px;
    
    border: 6px solid rgb(255, 206, 50);
    border-top: 6px solid rgb(35, 229, 219);
    border-right: 6px solid rgb(58, 119, 255);
    border-radius: 50px;
    
}


/* bottom_header */
.bottom_header{
    padding-top: 15px;
    padding-left: 20px ;
    height: 42px;
    background-color: rgb(247, 248, 250);
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 100%;
    justify-content: space-between;
    position: relative;
    top:70px;


}

.all_categories{
    display: flex;
    justify-content: center;
    align-content: center;

    /* border: 1px solid red; */
    /* width: 14%; */
    /* min-width: 200px; */
    /* background-color: rgb(95, 131, 59); */
    

}

.all_categories_text{
    color: rgb(1, 39, 43);
    margin-top: 9px;
    font-size: 15px;
    font-weight: 640;
    /* border: 1px solid red; */

    /* background-color: lawngreen; */
    width: 150px;
    /* min-width: 300px; */
    display: flex;
    justify-content: center;


} 

.down_arrow2{
    color: rgb(1, 39, 43);
    font-size: 38px !important;
    margin-left: 5px;
    margin-bottom: 15px;
    font-weight: lighter !important; 
    /* transition-duration: 1s !important; */
    /* background-color: salmon; */
}
.down_arrow2_modified{
    color: rgb(1, 39, 43);
    font-size: 38px !important;
    margin-left: 5px;
    margin-bottom: 15px;
    font-weight: lighter !important; 
    /* transition-duration: 1s !important; */
    transform: rotate(180deg) !important;
    /* background-color: salmon; */
}

.popular_categories{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* width: 50%; */
    margin-right: 40%;
    min-width: 700px;
    /* border: 1px solid red; */
}

.popular_categories_text{
    font-size: 14px;
    font-weight: 460;
    color: rgb(1, 39, 43);
}
.popular_categories_text:hover {
    color: rgb(43, 155, 230);
  }

.drop_down_categories{
      display: flex;
      justify-content: center;
      
      
      
}

  .drop_down_list{
      width:94%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      background-color: rgb(247, 248, 250);
      position: absolute;
      top:110px;
      /* left:20px */
  }

  .col_1{
      display: flex;
      flex-direction: column;
      list-style-type: none;
      color: rgb(1, 39, 43);
      min-width: 250px;
      margin-top: 15px;
      font-size: 15px;
      font-weight: 400;
  }

  .col_2{
      display: flex;
      flex-direction: column;
      list-style-type: none;
      color: rgb(1, 39, 43);
      min-width: 250px;
      margin-top: 15px;
      font-size: 15px;
      font-weight: 400;
    }

  .col_3{
      display: flex;
      flex-direction: column;
      list-style-type: none;
      color: rgb(1, 39, 43);
      min-width: 250px;
      margin-top: 15px;
      font-size: 15px;
      font-weight: 400;
    }

  .col_4{
      display: flex;
      flex-direction: column;
      list-style-type: none;
      color: rgb(1, 39, 43);
      min-width: 250px;
      margin-top: 15px;
      font-size: 15px;
      font-weight: 400;
    }

  .ul_heading{
      color: rgb(1, 39, 43);
      font-size: 15px;
      font-weight: 650;
      margin-top: 15px ;
      margin-bottom: 8px ;
  }

  
  .drop_down_list_hide{
    display: none;
}
