.body{
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-table{
    /* background-color: rgb(157, 157, 223); */
    margin: auto;
    align-content: center;
    /* border: 1px solid red; */
    width: 25%;
}



.col1,.col2,.col3,.col4,.col5{
    /* border: 1px solid red; */
    width:  50px;
    height: 70px;
}

.row{
    text-align: center;
}

.Btn{
    width: 30%;
    padding: 0px 37px 2px 28px;
    margin: 8px 7px 8px 7px;

    /* border-radius: 100px 100px 100px 100px; */
    /* border: none; */
    border: 1px solid white;
    background-color: rgb(171, 219, 183);
}

.Btn_C{
    width: 93%;
    padding: 0px 0px 0px 0px;
    background-color: rgb(212, 151, 19);
    

}

.Btn_Eq{
    width: 40%;
    padding: 0px 95px 0px 80px;
    background-color: rgb(57, 250, 9);

}

.Btn_text{
    font-size: 20px;
}

.Screen{
text-align: center;
/* border: 1px solid blue; */
margin: 30px 0px 50px 0px;
border: none;
}

.Screen_input{
    width: 45%;
    height: 80px;
    font-size: 60px;
    color: blueviolet;
    border: none;
}

