body{
    background: linear-gradient(to right, #757f9a, #d7dde8);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.legend{
    font-size: 40px;
}

.fieldset{
    width: 450px;
}

.name{
    display: inline-block;
}

.input_field{
    height: 40px;
    margin-top: 20px;
    margin-right: 10px;
}

.button{
    margin-top: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 8%;
    background-color: cornflowerblue;
}